* {
  box-sizing: border-box;
}

.site-header {
  display: flex;
  align-items: center;
  padding: 29px 127.5px;
}

.site-header nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 32px;
}

.nav-menu {
  display: flex;
  font-family: "Roboto-Regular";
  font-size: 18px;
  list-style: none;
  gap: 70.5px;
  line-height: normal;
}

.nav-menu a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.header-button {
  font-size: 18px;
  font-weight: 400;
  background-color: black;
  color: white;
  border: 0px;
  border-radius: 6px;
  padding: 10px 23px;
  cursor: pointer;
  line-height: normal;
}

.logo img {
  height: 54.98px;
  width: 243px;
  display: block;
}

/* .header-banner {

} */

/* .main-title {
  display: flex;
  font-family: "Roboto-Black";
  font-size: 72px;
  padding: 168px 528px;
}

.inscription {
  display: flex;
  font-family: "Roboto-Regular";
  font-size: 29px;
  padding: 34px 528px;
  opacity: 0.61;
} */
