* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.site-header {
  display: flex;
  align-items: center;
  margin-top: 29px;
  margin-left: 147px;
  margin-right: 108px;
}

.site-header nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 32px;
}

.nav-menu {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  list-style: none;
  gap: 70.5px;
  line-height: normal;
}

.nav-menu a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.header-button {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  color: white;
  border: 0px;
  border-radius: 6px;
  padding: 10px 23px;
  cursor: pointer;
  line-height: normal;
}

.logo img {
  height: 54.98px;
  width: 243px;
  display: block;
}

.main-banner {
  padding-top: 231px;
  margin-left: 122px;
}

.main-title1 {
  display: flex;
  font-family: "Roboto-Black";
  font-size: 72px;
  line-height: normal;
}

.main-title2 {
  display: flex;
  font-family: "Roboto-Black";
  font-size: 72px;
  line-height: normal;
}

.inscription {
  display: flex;
  font-family: "Roboto-Regular";
  font-size: 29px;
  opacity: 0.61;
  line-height: normal;
  margin-top: 13px;
}

.background-mountain {
  background-image: url("../images/mountain_landscape.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  height: 1440px;
  width: 100%;
  position: relative;
}
